extends layout 
block content
    h1 Rides Requested History
        br
        br
        table#asd
            tr 
                th Rider Name
                th Click Below For Details
                th Status
            each x in rOrderDetails1
                tr
                    td= ""+ x.riderUserName
                    td
                        a(href=`/${x._id}/pdetails/${x.riderUserName}/${x.postId}/${x.status}`) #{x.postId}
                    td= ""+ x.status
            